/* Hide desktop default menu while it is in mobile mode */

a {
  color: #000;
}

.menu-desktop {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.menu-desktop ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.menu-desktop li a {
  display: block;
  padding: 12px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-desktop li a:hover,
.menu-desktop .menu-btn:hover {
  background-color: #f4f4f4;
  transition: background-color 0.3s;
}

.menu-desktop .devfel-logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 18px 20px;
  text-decoration: none;
}

/* menu */

.menu-desktop .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

/* menu icon */

.menu-desktop .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-desktop .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.3s ease-out;
  width: 20px;
}

.menu-desktop .menu-icon .navicon:before,
.menu-desktop .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-out;
  width: 100%;
}

.menu-desktop .menu-icon .navicon:before {
  top: 7px;
}

.menu-desktop .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.menu-desktop .menu-btn {
  display: none;
}

.menu-desktop .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.menu-desktop .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-desktop .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-desktop .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-desktop .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-desktop .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) and (max-width: 999px) {
  .menu-desktop li {
    float: left;
  }
  .menu-desktop li a {
    padding: 20px 13px;
  }
  .menu-desktop .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-desktop .menu-icon {
    display: none;
  }
}

@media (min-width: 1000px) {
  .menu-desktop li {
    float: left;
  }
  .menu-desktop li a {
    padding: 20px 30px;
  }
  .menu-desktop .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-desktop .menu-icon {
    display: none;
  }
}
