.about {
  height: 100vh;
  background-color: #222222;
  color: #dddddd;
  display: flex;
  justify-content: center; /* Separate itens horizontally for flex */
  align-items: center; /* Align itens vertically for flex */
  text-align: center; /* Align only text to be centrilized word like */

  background-image: url("../imgs/background03.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  /* Max Widh Adjustments for large screens */
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}
.about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Separate itens horizontally for flex */
  align-items: center; /* Align itens vertically for flex */
  text-align: center; /* Align only text to be centrilized word like */
}
.about h2 {
  width: 100%;
  margin: 0px 15px;
  font-size: 2rem;
}
.about h1 {
  width: 100%;
  margin: 20px 15px;
  font-size: 2.1rem;
  color: #ffffff;
  font-weight: bold;
}
