/* Correcting image attachment for not working on mobile as fixed*/
@media screen and (max-width: 799px) {
  .about {
    background-attachment: initial;
  }
}

@media screen and (max-width: 499px) and (min-width: 440px) {
  .about h2 {
    font-size: 1.7rem;
  }
  .about h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 439px) {
  .about h2 {
    font-size: 1.4rem;
  }
  .about h1 {
    font-size: 1.5rem;
  }
}
