body,
h1,
h2,
h3,
h4,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}
a {
  color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
}

.menu-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Separate itens horizontally for flex */
  align-items: center; /* Align itens vertically for flex */

  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);

  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 999;
}
.menu-desktop img {
  height: 40%;
  margin: 0px 30px;
}
.menu-desktop nav {
  margin: 0px 30px;
}
.menu-desktop nav ul {
  display: flex;
}
.menu-desktop nav ul li a {
  padding: 0 14px;
  text-decoration: none;
  color: #000000;
  transition: color 0.5s;
  font-size: 1.2rem;
}
.menu-desktop nav ul li a:hover {
  color: #919191;
}

.about {
  height: 100vh;
  background-color: #222222;
  color: #dddddd;
  display: flex;
  justify-content: center; /* Separate itens horizontally for flex */
  align-items: center; /* Align itens vertically for flex */
  text-align: center; /* Align only text to be centrilized word like */

  background-image: url("../imgs/background03.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.about p {
  max-width: 80%;
  font-size: 2rem;
}

.education {
  padding-top: 60px;
  padding-bottom: 30px;
  min-height: 95vh;
  background-color: #dddddd;
  color: #333333;
  display: flex;
  justify-content: center; /* Separate itens horizontally for flex */
  align-items: flex-start; /* Align itens vertically for flex */
  text-align: center; /* Align only text to be centrilized word like */
  flex-wrap: wrap;

  /*background-image: url("../imgs/education03.jpg");
  background-size: cover;
  background-position: center center;*/
}
.education > h2 {
  font-size: 2rem;
  width: 100%;
  margin: auto;
  color: #333333;
}
.diploma {
  width: 22%;
  max-width: 225px;
  min-width: 205px;
  height: 360px;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: #000000;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Separate itens vertically for flex column */
  align-items: center; /* Align itens horizontaly for flex column*/
  text-align: center; /* Align only text to be centrilized word like */
  margin: 7px 7px;
}
.diploma:hover {
  transform: translateY(-5px);
}
.diploma img {
  border-radius: 10px 10px 0 0;
}
.diploma-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #000000;
}
.diploma-field {
  font-size: 15px;
  padding: 5px 0;
  margin-bottom: 8px;
  width: 90%;
  color: #ffffff;
  background-color: #000000;
  border-radius: 4px;
}
.diploma-year {
  font-size: 12px;
  margin-bottom: 8px;
  color: #000000;
}
.diploma-area {
  margin-bottom: 20px;
  font-size: 12px;
  color: #919191;
  line-height: 1.6;
  margin: 4px;
}

.skills {
  padding-top: 60px;
  padding-bottom: 30px;
  min-height: 95vh;

  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center; /* Separate itens horizontally for flex */
  align-items: flex-start; /* Align itens vertically for flex */
  text-align: center; /* Align only text to be centrilized word like */
  flex-wrap: wrap;

  background-image: url("../imgs/background05.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.skills > h2 {
  text-align: center;
  color: #fff;
  /*padding: 1rem;*/
  position: relative;

  font-size: 2rem;
  width: 100%;
  margin: auto;
}

.skill-container {
  background-color: rgba(200, 200, 200, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  width: 22%;
  max-width: 225px;
  min-width: 205px;
  height: 240px;

  border-radius: 10px;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Separate itens vertically for flex column */
  align-items: center; /* Align itens horizontaly for flex column*/
  text-align: center; /* Align only text to be centrilized word like */
  margin: 7px 7px;
}

.skill-container > * {
  margin: 7px;
}
.skill-img {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin: 18px 0px;
}
.skill-container:hover .skill-img {
  transform: scale3d(1.2, 1.2, 1.2);
}
.skill-img > img {
  width: 50px;
  z-index: 2;
}

.skill-title {
  font-size: 15px;
  padding: 5px 0;
  margin-bottom: 8px;
  width: 90%;
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
}
.skill-desc {
  margin-bottom: 20px;
  font-size: 14px;
  color: #dddddd;
  line-height: 1.6;
  margin: 4px;
}

.projects {
  padding-top: 60px;
  padding-bottom: 30px;
  min-height: 95vh;

  color: #000000;
  display: flex;
  justify-content: center; /* Separate itens horizontally for flex */
  align-items: flex-start; /* Align itens vertically for flex */
  text-align: center; /* Align only text to be centrilized word like */
  flex-wrap: wrap;

  background-image: url("../imgs/projects-bkg03.jpg");
  background-size: cover;
  background-position: center center;
}

.projects > h2 {
  text-align: center;
  color: #333333;
  position: relative;

  font-size: 2rem;
  width: 100%;
  margin: auto;
}

.main-projects {
  width: 100%;
  margin: 14px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  justify-content: space-evenly;
  justify-items: stretch;
  gap: 14px;
}
.main-projects .project {
  margin: 7px auto;
  min-width: 520px;
  max-width: 700px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);

  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 50px 30px 120px 50px 50px;
  align-items: center;
  border-radius: 10px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.main-projects .project .project-picture {
  /*height: 300px;
  width: 200px;*/
  grid-row: 1/6;
  margin-right: 14px;
}
.main-projects .project .project-picture > img {
  width: 200px;
  height: 300px;
  border-radius: 10px 0 0 10px;
  filter: grayscale(0);
}
.main-projects .project .project-picture > img:hover {
  filter: grayscale(0);
}

.main-projects .project .project-tech {
  grid-row: 1/2;
  grid-column: 2/4;
  display: flex;
  align-items: center;
  margin: 0 7px;
}
.main-projects .project .project-title {
  grid-row: 2/3;
  grid-column: 2/4;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 0 7px;
  border-top: 2px solid #222222;
  border-bottom: 2px solid #222222;
}
.main-projects .project .project-description {
  grid-row: 3/4;
  grid-column: 2/4;
  font-size: 14px;
  color: #919191;
  line-height: 1.4;
  margin: 0 7px;
  text-align: center;
}

.main-projects .project .project-description > p {
  grid-row: 3/4;
  grid-column: 2/4;
}

.main-projects .project .project-video-button {
  grid-row: 4/5;
  grid-column: 2/4;
  margin: 5px;
  display: flex;
}
.main-projects .project .project-code-button {
  grid-row: 5/6;
  grid-column: 2/3;
  margin: 5px;
  display: flex;
}
.main-projects .project .project-try-button {
  grid-row: 5/6;
  grid-column: 3/4;
  margin: 5px;
  display: flex;
}

.button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #222222;
  color: #252934;
  background: #dddddd;
  font-size: 1rem;
  text-align: center;
  font-family: "roboto";
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}
.button:hover {
  background: #a0a0a0;
  color: #fafafa;
  border-bottom: 2px solid #222222;
}
.button i {
  font-size: 0.8rem;
  vertical-align: middle;
  margin-left: 0.5rem;
  margin-bottom: 0.2rem;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-20 {
  font-size: 20px;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  background: #555555;
}
.project-tech img {
  height: 35px;
  margin: 3px;
}
.projects > p {
  text-align: center;
  color: #333333;
  position: relative;

  font-size: 1.5rem;
  width: 100%;
}

.contact {
  height: 200px;
  background-color: #222222;
  color: #dddddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 22px;
}
.email {
  font-weight: bold;
}

@media screen and (max-width: 999px) {
  .main-projects {
    grid-template-columns: 1fr;
  }

  .main-projects .project {
    min-width: 410px;
  }
}

@media screen and (max-width: 799px) {
  .menu-desktop {
    display: none;
  }
}

.window {
  display: none;
}

@media screen and (max-width: 799px) {
  .window {
    position: fixed;
    width: 100%;
    height: 44px;
    background: rgba(0, 0, 0, 0);
    display: block;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 1000;
    overflow: hidden;

    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }

  .window.menu-opened {
    height: 100%;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }

  img.apple-logo {
    width: 150px;
  }

  .window .header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 44px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out, background 1s ease-out;
    transition: all 0.5s ease-out, background 1s ease-out;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: 1;
  }
  .window .header .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .window .header .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }
  .window .header .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .window .header .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
  }
  .window .header .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
  }
  .window .header .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .window .header .icon-apple {
    width: 150px;
    margin: 10px 0px;
  }
  .window .header .icon.icon-bag {
    right: 0;
    top: 0;
    left: auto;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s
      cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s;
  }
  .window .header ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    margin-top: 30px;
    list-style: none;
  }
  .window .header ul.menu li.menu-item {
    border-bottom: 1px solid #333;
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .window .header ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.49s;
    transition-delay: 0.49s;
  }
  .window .header ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.42s;
    transition-delay: 0.42s;
  }
  .window .header ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  .window .header ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.28s;
    transition-delay: 0.28s;
  }
  .window .header ul.menu li.menu-item:nth-child(5) {
    -webkit-transition-delay: 0.21s;
    transition-delay: 0.21s;
  }
  .window .header ul.menu li.menu-item:nth-child(6) {
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
  }
  .window .header ul.menu li.menu-item:nth-child(7) {
    -webkit-transition-delay: 0.07s;
    transition-delay: 0.07s;
  }
  .window .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
  }

  .window .header.menu-opened {
    height: 100%;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  .window .header.menu-opened .burger-container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .window .header.menu-opened .burger-container #burger .bar {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .window .header.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
  }
  .window .header.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
  }
  .window .header.menu-opened ul.menu li.menu-item {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.34s;
    transition-delay: 0.34s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.41s;
    transition-delay: 0.41s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.48s;
    transition-delay: 0.48s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(5) {
    -webkit-transition-delay: 0.55s;
    transition-delay: 0.55s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(6) {
    -webkit-transition-delay: 0.62s;
    transition-delay: 0.62s;
  }
  .window .header.menu-opened ul.menu li.menu-item:nth-child(7) {
    -webkit-transition-delay: 0.69s;
    transition-delay: 0.69s;
  }
  .window .header.menu-opened .icon.icon-bag {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .window .content {
    font-family: sans-serif;
    padding: 67px 4% 0;
    text-align: justify;
    overflow: scroll;
    max-height: 100%;
  }
  .window .content::-webkit-scrollbar {
    display: none;
  }
  .window .content h2 {
    margin-bottom: 0px;
    letter-spacing: 1px;
  }
  .window .content img {
    width: 95%;
    position: relative;
    display: block;
    margin: 75px auto 75px;
  }
  .window .content img:nth-of-type(2) {
    margin: 75px auto;
  }
}
