body,
h1,
h2,
h3,
h4,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: #000000;
  font-family: "Roboto";
  font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Separate itens horizontally for flex */
  align-items: center; /* Align itens vertically for flex */

  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);

  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 999;
}
.header img {
  max-height: 80%;
  margin: 0px 10px;
}
.header nav {
  margin: 0px 30px;
}
.header nav ul {
  display: flex;
}
.header nav ul li a {
  padding: 0 14px;
  text-decoration: none;
  color: #000000;
  transition: color 0.5s;
  font-size: 1.2rem;
}
.header nav ul li a:hover {
  color: #919191;
}

.about {
  height: 100vh;
  background-color: #222222;
  color: #dddddd;
  display: flex;
  justify-content: center; /* Separate itens horizontally for flex */
  align-items: center; /* Align itens vertically for flex */
  text-align: center; /* Align only text to be centrilized word like */

  background-image: url("../imgs/background03.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.about p {
  max-width: 80%;
  font-size: 2rem;
}

.education {
  background-color: #ffffcb;
}

.skills {
  background-color: #ffff00;
}

.projects {
  background-color: #000088;
}

.reasons {
  background-color: #099988;
}

.contact {
  background-color: #909088;
}

/* media equals 640 or less, reduce the height of each step. 
media 799 or less reduce menu height

font family:   neue-haas-grotesk-text*/
